@import 'tailwindcss';

@theme {
  --color-primary-100: rgb(34 40 49);
  --color-primary-300: rgb(92 101 112);
  --color-primary-500: rgb(130 139 150);
  --color-primary-700: rgb(225 64 64);
  --color-primary-900: rgb(52 116 255);
}

:root {
  background-color: #e1e5ea;
}

@keyframes Flash {
  0% {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.55);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes FlashUp {
  0% {
    box-shadow: 0 0 0 2px rgba(225, 64, 64, 0.75);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(225, 64, 64, 0);
  }
}

@keyframes FlashDown {
  0% {
    box-shadow: 0 0 0 2px rgba(52, 116, 255, 0.75);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(52, 116, 255, 0);
  }
}

.flash {
  animation: Flash 220ms ease-in-out 1;
}

.flash-up {
  animation: FlashUp 220ms ease-in-out 1;
}

.flash-down {
  animation: FlashDown 220ms ease-in-out 1;
}

@keyframes notification-marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.notification-marquee {
  animation: notification-marquee 12s linear forwards;
}
