name: Lint Check

on:
  pull_request:

jobs:
  lint-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Use Node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run Lint with Cache
        run: yarn lint --cache --cache-location .eslintcache
